@{
    ViewBag.Title = "Přístup zakázán";
}

<hgroup>
    <h4 class="text-danger">Vstup zakázán</h4>
    <h6 class="text-danger">Pro přístup do této sekce nemáte dostatečné práva</h6>
</hgroup>
<div class="text-center">
    <input type="button" onclick="history.go(-1);" class="btn btn-default center-block" value="Zpět" />
</div>
