@model TestViewModel

@{
    ViewData["Title"] = "Test";
}

<h5>Connection to API</h5>
<h6>
    <partial name="Partials/_Icon" model="Model.ApiResultMessage" />
    @Html.DisplayFor(m => Model.MessageApi) @Html.Raw($"(HTTP status {Model.HTTPResponseApi})")
</h6>

<br />

<h5>Connection to DB</h5>
<h6>
    <partial name="Partials/_Icon" model="Model.DbResultMessage" />
    @Html.DisplayFor(m => Model.MessageDB)
</h6>

<input type="button" onclick="history.go(-1);" class="btn btn-dark center-block mt-3" value="Back" />