@model ErrorViewModel

@{ 
    ViewData["Title"] = "Error";
}

<h3 class="text-danger">Error occured.</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Error occured within page loading, please try to load the page again.
</p>

<p>
    Developers was informed about this error.
</p>