@model ErrorViewModel

<h3 class="text-danger">Chyba při načtení stránky.</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Požadavek ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Při načítání stránky nastala chyba, zkuste prosím načíst stránku znovu.
</p>

<p>
    Vývojáři byli o této chybě informování.
</p>