@{
    ViewBag.Title = "Error";
}

<div class="col-md-12">
    <h4 class="text-center text-danger text-bold">Chyba při načtení</h4>
    <h6 class="text-center text-danger">Požadovaná stránka nebyla nalezena - neexistuje.</h6>

    @if (Request.QueryString.Count > 0)
    {
        foreach (var item in Request.QueryString.AllKeys)
        {
            <h8 class="text-center text-dark">cesta: @Request.QueryString[item]</h8>
        }
    }
</div>
