<div class="col-md-12 col-sm-12 col-centered">
    @if (Model.MessageList.Count > 0)
    {
        <table class="alerttable">
            @foreach (var t in Model.MessageList)
            {
                if (!@t.Item2)
                {
                    <tr class="success"><td>@t.Item1</td></tr>
                }
                else
                {
                    <tr class="warning"><td>@t.Item1</td></tr>
                }
            }
        </table>
    }
</div>

