
@{
    ViewData["Title"] = "Settings";
}

<div class="row mb-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Company</h5>
                <p class="card-text">Settings of company and company users.</p>
                <a asp-controller="Setting" asp-action="Company" class="btn btn-primary">Go to setting</a>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole("super-admin") || User.IsInRole("admin"))
{
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Metrics</h5>
                    <p class="card-text">Settings of metrics.</p>
                    <a asp-controller="Setting" asp-action="Metric" class="btn btn-primary">Go to setting</a>
                </div>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("super-admin"))
{
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Metric types</h5>
                    <p class="card-text">Settings of metric types.</p>
                    <a asp-controller="Setting" asp-action="MetricType" class="btn btn-primary">Go to setting</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Metric affected fields</h5>
                    <p class="card-text">Settings of metric affected field of project.</p>
                    <a asp-controller="Setting" asp-action="AffectedField" class="btn btn-primary">Go to setting</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Automotive SPICE</h5>
                    <p class="card-text">Settings of Automotive SPICE versions.</p>
                    <a asp-controller="Setting" asp-action="AspiceVersion" class="btn btn-primary">Go to setting</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Automotive SPICE processes</h5>
                    <p class="card-text">Settings of Automotive SPICE processes.</p>
                    <a asp-controller="Setting" asp-action="AspiceProcess" class="btn btn-primary">Go to setting</a>
                </div>
            </div>
        </div>
    </div>
}