@model ResultViewModel
@{
    string onClick = string.Empty;
    if (!string.IsNullOrEmpty(Model.JsFunction))
    {
        onClick = $" onclick=\"{Model.JsFunction}\"";
    }
}

<span class="fas @Model.CssClass" style="color: @(Model.Color ?? "black")" title="@Html.Raw(Model.Message)"@Html.Raw(onClick)></span>

