@model ListHeaderViewModel

<div class="mb-3 d-flex flex-row justify-content-between align-items-center">
    <span>@Model.Message</span>

    <a href="@Model.Path" class="btn btn-secondary">
        <span class="fa @Model.CssClass"></span>
        @Model.Button
    </a>
</div>