@model HomeViewModel

@{
    var user = User.GetIdentity();
    ViewData["Title"] = "Main page";
}

<div class="jumbotron">
    <h1>Jazz metrics</h1>
    <p class="lead">You are logged as @user.ToString().</p>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <h2>Projects</h2>
        <ul class="list-group">
            @for (int i = 0; i < Model.Projects.Count; i++)
            {
                <li class="list-group-item" title="@Model.Projects[i].ProjectDescription">
                    <a href="/Project/@Model.Projects[i].ProjectId/Dashboard">@Model.Projects[i].ProjectName</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>IBM Jazz metrics</h2>
        <p>
            In this web application you can create, edit and manage metrics from IBM Jazz platform.
        </p>
        <p><a class="btn btn-secondary" href="/Project">Go to projects &raquo;</a></p>
    </div>
</div>

<address>
    <strong>Support:</strong> <a href="mailto:michal.prikryl@post.cz">michal.prikryl@post.cz</a><br />
</address>
