@{
    ViewData["Title"] = "Hlavní stránka";
}

<div class="jumbotron">
    <h1>Jazz metrics</h1>
    <p class="lead">@ViewBag.Information</p>
    <p><a href="http://jazz-metrics.com" class="btn btn-primary btn-lg">Chci víc &raquo;</a></p>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h2>IBM Jazz metriky</h2>
        <p>
            V této webové aplikaci lze vytvářet, měnit a spravovat metriky z IBM Jazz.
        </p>
        <p><a class="btn btn-default" href="#">Přejít &raquo;</a></p>
    </div>
</div>

<address>
    KATEDRA INFORMATIKY<br />
    17. listopadu 15/2172<br />
    708 33  Ostrava-Poruba<br />
    Telefon: +420 597 325 961
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:michal.prikryl@post.cz">michal.prikryl@post.cz</a><br />
</address>
