/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/*generic*/
.body-content {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.cookie-container {
    justify-content: center !important;
}

.color-dark-grey {
    color: darkgrey;
}

a:hover {
    text-decoration: none;
}

.logo-text {
    font-size: 1.5em;
}

.nav-link {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}
/*END of generic*/

/*scroll to top*/
#top-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #top-button:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
/*END of scroll to top*/

/*alerts*/
.alerttable {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

    .alerttable .success td {
        background-color: #dff0d8;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: bolder;
        font-size: 14px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    .alerttable .warning td {
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: bolder;
        font-size: 14px;
        /*color: #ff0000;*/
        /*background-color: #FFCCBA;*/
        color: black;
        background-color: tomato;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
/*END of alerts*/

/*processing animation*/
.work {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

    .work:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background-color: black;
        opacity: 0.3;
        height: 100%;
        width: 100%;
    }

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
}

.cube1, .cube2 {
    background-color: #333;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
/*END of processing animation*/

/*coverage metric inputs*/
.plus-icon {
    font-size: 35px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.border-radius {
    border-radius: 0;
}

.border-radius-left {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
}

.border-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
}

.margin-input {
    margin-top: 2rem;
}

.input-1 {
    max-width: 53%;
    flex: 0 0 53%;
    padding-left: 5px;
}

.input-2 {
    max-width: 47%;
    flex: 0 0 47%;
    padding: 0px 5px 0px 5px;
}

.input-info {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 5px;
}
/*END of coverage metric inputs*/

/*project dashboard*/
.center-name {
    position: absolute;
    left: 49.7%;
    transform: translate(-50%,0);
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    height: 10%;
    top: 45%;
}

.carousel-item {
    padding-left: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/*END of project dashboard*/
