@model ExportViewModel

<h3>Choose metrics from current project, which you want to export:</h3>
<div class="form-horizontal" id="modal-form">
    <div class="col-md-8 mx-auto">
        <div class="form-group row">
            <div class="col-sm-2">Metrics</div>
            <div class="col-sm-10">
                @for (int i = 0; i < Model.Metrics.Count; i++)
                {
                    <div class="form-check col-md-12 d-flex align-items-baseline">
                        <input class="form-check-input metric" type="checkbox" id="checkbox-@i" value='@Html.Raw(Json.Serialize(Model.Metrics[i]))' checked />
                        <label class="form-check-label" for="checkbox-@i">@Model.Metrics[i].MetricName</label>
                    </div>
                }
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <label class="col-form-label col-sm-2 pt-0">Export type</label>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input export" type="radio" name="export" id="excel" value="excel" checked>
                        <label class="form-check-label" for="excel">
                            Excel workbook
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input export" type="radio" name="export" id="word" value="word">
                        <label class="form-check-label" for="word">
                            Word document
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input export" type="radio" name="export" id="powerpoint" value="powerpoint">
                        <label class="form-check-label" for="powerpoint">
                            Power point presentation
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-sm-12 text-right">
                <button type="submit" id="all-button" onclick="changeMetrics()" class="btn btn-dark">Uncheck all metrics</button>
            </div>
        </div>
    </div>
</div>
