@model ChartModel

<div>
    <div class="d-flex justify-content-end mt-1">
        <div class="dropdown mr-3">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-file-export"></span>
                Export chart
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                @{ string chartModel = $"[{{ \"metricName\": \"{Model.MetricInfo}\", \"charts\": [\"{Model.ChartId}\", \"{Model.ChartId}\", \"{Model.ChartId}\"] }}]"; }
                <button onclick="saveChartToPng('@Model.ChartId', '@Model.MetricInfo')" class="dropdown-item">PNG file</button>
                <button onclick="saveChartToXlsx(@chartModel)" class="dropdown-item">Excel workbook</button>
                <button onclick="saveChartToDocx(@chartModel)" class="dropdown-item">Word document</button>
                <button onclick="saveChartToPptx(@chartModel)" class="dropdown-item">Power point presentation</button>
            </div>
        </div>
        
    </div>
    <canvas id="@Model.ChartId"></canvas>
</div>
