@model ChartModel

<div>
    <div class="d-flex justify-content-end">
        <div class="dropdown mr-3">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-file-export"></span>
                Export chart
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <button onclick="saveChartToPng('@Model.ChartId', '@Model.MetricInfo')" class="dropdown-item">PNG file</button>
            </div>
        </div>
        
    </div>
    <canvas id="@Model.ChartId"></canvas>
</div>
